<h1>TodoApp</h1>

<form action="javascript:void(0)" ng-submit="addTask(newTask)">
  <input type="text" ng-model="newTask.text">
  <button>Add todo</button>
</form>

<ul>
  <li ng-repeat="task in tasks" class="done-{{task.done}}">
    <div ng-dblclick="editTask($index)" ng-hide="showEdit[$index]">
      <p>{{task.text}}</p>
      <div class=>Complete: {{task.done}}</p>
    </div>
    <div class="edit-form" ng-show="showEdit[$index]">
      <form action="javascript:void(0)" ng-submit="updateTask(task)">
        <input type="text" ng-model="task.text" autofocus>
        <input type="checkbox" id="task-done" ng-model="task.done" unchecked><label for="task-done">Done</label></input>
        <button>Update task</button>
      </form>
    </div>
    <button ng-click="deleteTask(task)">Remove task</button>
  </li>
</ul>